@import url('https://fonts.googleapis.com/css?family=Raleway:200');

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.middle-height {
  height: 50vh;
}

.bandeau-height {
  height: 10vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  min-width: 50%;
}

.content {
  min-width: 60%;
}

h2 {
  font-family: 'Raleway', sans-serif !important ;
  letter-spacing: .1rem;
  font-size:300% !important ;
}

.title {
  font-size: 84px;
}

.linksUnder > a {
  font-size: 140%;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
}

.links > a {
  color: #636b6f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
}

.m-b-md {
  margin-bottom: 30px;
}

.dark {
  background-color: #1d1b1b;
}

.border-yellow-right {
  border-right: 1px solid #e9b90b;
}

.white-grey {
  background-color: #cccccc;
}

.radius {
  border-radius: 25px;
}

.nodeco:hover {
  text-decoration: none;
}

.shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(201, 201, 201, 0.2), 0 6px 20px 0 rgba(201, 201, 201, 0.19);
}

.right-list {
  max-height: 180px;
  overflow: auto;
}

.card-img-top{
  width: 60% !important;
  height: 100%;
}
#iBeacon img{
  width: 100%;
}
// Bootstrap 3.3.7
@import "node_modules/bootstrap/scss/bootstrap";
